.App {
    background-color: #FFFFFF;
  border: 50px;
  padding: 10px;
}

.App-logo {
  /*animation: App-logo-spin infinite 1s linear;*/
    padding: 5px;
    height: 100px;
    width: 100px;
}

.App-header-wrap {
  padding: 20px;
}

.App-header {
  padding: 20px;
  color: red;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.imgsize {
  height: 100%;
  width: 100%;
}